* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

}
h1 {
	position: relative;
	color: #a4287b;
	margin-left: 45%;
	margin-top: 30px;
	display: block;
	font-size: 175%;
}
.section {
	position: relative;
	background-color: #ebadd6;
	width: 30%;
	
	float: left;
	
	border: 1px solid black;
	margin-top: 30px;

	
}
#section3 {
	margin-left: 0px;
	margin-right: 1.5%;

}
#section1 {
	margin-left: 2.5%;
	margin-right: 1.5%
}
#section2 {
	margin-left: 1.5%;
	margin-right: 1.5%
}
.logo {
	position: absolute;
	top: 0px;
 	right: 0px;
	font-weight: bold;
	width: 80px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 125%;

}

.dummyText {
	font-size: 100;
	margin: 15px;
	margin-top: 30px;
}
#chicken {
	background-color: yellow;
}
#beef {
	background-color: red;
}
#sushi {
	background-color: blue;
	color: white;
}