* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

}
h1 {
	position: relative;
	color: blue;
	margin-left: 45%;
	display: block;
}
.section {
	position: relative;
	background-color: green;
	width: 30%;
	height:100px;
	float: left;
	margin: 5px;

	
}
.logo {
	position: absolute;
	top: 0px;
 	right: 0px;
	
	background-color: grey;
	

	width: 80px;
	

	
	border-style: solid;

	



}
#chicken {
	position: absolute;
	top: 0px;
	right: 0px;
}